/*CONFIGURAÇÕES INICIAIS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
 background-color: #3166b5d4;

}

/*HEADER*/
header {
padding: 1%;
  background-color: #dfe2e9df;
  border-bottom: px solid #3166b5;
  display: flex;
position: fixed;
  justify-content: center;
width: 100%;
overflow: hidden;
z-index: 10 ;
opacity: 0.9;
}
.container {
  display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* border:solid 2px #fd0202; */
}
.titulo {
  color: #1452c4;
  font-size: 11px;
}
.navegacao ul {
  display: flex;
color: #fd1302;
text-decoration: none;
}
.navegacao ul li {
  display: flex;
  cursor: pointer;
  width: 180px;
  /* border:solid 2px #fd0202; */

}
.agora {
  font-weight: bold;
  border:solid 2px #fd7702;

}
.cadastroInd{
  display: flex;
    /* border:solid 2px #fd0202; */
    justify-content: right;
    width: 100%;
}
/*RODAPÉ/FOOTER*/
footer {
  padding: 30px 0;
  background-color: #1452c4;
}

footer .container {
  justify-content: center;
}

footer p {
  color: #fff;
}
